<Navbar [icon]="icon"
        [mode]="'light'"
        (onLeftClick)="onLeftClick()"
>
  修改密码
</Navbar>
<ng-template #icon>
  <Icon [type]="'left'"></Icon>
</ng-template>

<List [renderHeader]=(renderHeader)>

  <InputItem
    [type]="'password'"
    [clear]="'true'"
    [placeholder]="'please input password'"
    [extra]=""
    [(ngModel)]="Password"
    [defaultValue]=""
    [editable]="'true'"
    [disabled]="'false'"
  >
  </InputItem>

  <InputItem
    [type]="'password'"
    [clear]="'true'"
    [placeholder]="'please input new password'"
    [extra]=""
    [(ngModel)]="Newpassword"
    [defaultValue]=""
    [editable]="'true'"
    [disabled]="'false'"
  >
  </InputItem>

  <InputItem
    [type]="'password'"
    [clear]="'true'"
    [placeholder]="'please input password again'"
    [extra]=""
    [(ngModel)]="Confirmpassword"
    [defaultValue]=""
    [editable]="'true'"
    [disabled]="'false'"
  >
  </InputItem>

  <ListItem>
    <a Button [type]="'primary'"
       [size]="'large'"
       [inline]="false"
       (onClick)="dosubmit()"
    >
      {{'submit'|translate}}
    </a>
  </ListItem>
</List>
